
.header {

    padding: 80px;
    text-align: center;
    background: green;
    color: black;
}

.navbar {
    overflow:visible;
    background-color:antiquewhite;
    text-align: center;
    text-decoration: 0;
}

.navbar::after {
    content: "";
    display: table;
    clear: both;
}

.navbar a {
    float:left;
    font-size: 16px;
    color: black;
    background-color: antiquewhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
}

.projectsDropdown{
    position:relative;
    background-color: antiquewhite;
    float: left;
    overflow:hidden;
    
}

.projectsDropdown .dropbtn {
  border: 2px solid blue;
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .projectsDropdown:hover .dropbtn {
    background-color: darkgreen;
}

.dropdown-content {
    display:none;
    position: absolute;
    top: 100%;
    left:0;
    background-color:antiquewhite;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 2px solid pink;
    z-index: 999;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.projectsDropdown:hover .dropdown-content {
    display: block;
}

