article, article * {
    box-sizing: border-box;
}
article {
    max-width:800px;
    margin: 20px auto;
}

table {
    border-collapse: collapse;
    max-width:800px;
    margin: 0 auto;
}

th, td {
    padding: 20px;

}

th {
    background-color:lightslategray;
}

td {
    background-color:lightgray;
}
