article {
    margin: 0  auto;
    text-align:left;
    width: 100%;
    max-width:600px;
}

.main_image {
    text-align:center;
    padding-top:2em;
}

.main_image img{
    display:block;
    width:100%;
    height:auto;
    background-color: #fff0fe;
    border-radius:1em;
}

article h1 {
    font-size:2em;
    margin-top:0.5em;
    margin-bottom: 0em;
}
article h2 {
    font-size:1em;
    margin-top:0.2em;
}

article p {
    font-weight:lighter;
}

article h4 {
    text-align:center;
    margin: 0.4em auto;
    font-weight:lighter;
    font-size:1em;
}

article h5 {
    text-align:center;
    font-weight:lighter;
    margin: 0, 0;
    font-size:0.8em;
}
.hbridge_schematic {
   text-align:center;
}

.hbridge_schematic img {
    display:block;
    width: 100%;
    height:auto;
}

.pcb_images {
    text-align:center;
}

.pcb_images img {
    display:block;
    width:100%;
}

.new_hbridge {
    text-align:center;
}

.new_hbridge img {
    display:block;
    width:100%;
    height:auto;
}

.esp32_image{
    display:block;
    float:right;
    width:30%;

}
.esp32_image img {
    width:100%;
}

.code_block{
    display:block;
    text-align:left;
    margin:0;

}

.code_block pre {
    display:block;
    margin: 0;
    padding:0;
    overflow-x:auto;
    max-width:100%;
    white-space:pre;
}
.code_block code{
    background-color:rgb(231, 231, 231);
    display:block;
    border: 0.2em solid rgb(185, 185, 185);
    padding: 0.2em;
}
.video {
    float:right;
    display:block;
    border: 0.4em solid pink;
    line-height:0;
    width:fit-content;
}

.video video {
    display:block;
    margin:0;
}
